<div class="container mt-3">

  <div id="content-make">
    <%= render 'subtopics/content', subtopic: @subtopic %>
  </div>

  <br> <br> <br>

  <%= form_for @post, remote: true do |f| %>
    <div class="form-group">
      <%= f.hidden_field :subtopic_id, value: params[:sub_topic] %>
      <%= f.label :content, "내용" %>
      <%= f.text_area :content, rows: 5, placeholder: "입력하세요", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-primary mb-3">등록</button>
  <% end %>


  <%= link_to "뒤로 가기", topic_path(@topic) %>
</div>
